@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-border: var(--border);

  --color-primary: var(--primary);

  --color-secondary: var(--secondary);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --height-navbar: 3.5rem;

    --primary: #3b82f6;
    --secondary: #f3f4f6;
    --background: #ffffff;
    --foreground: #111827;
    --accent: #10b981;
    --card: #fafafa;
    --input: #f3f4f6;
    --border: #e5e7eb;
    --muted-foreground: #6b7280;
  }

  .dark {
    --background: #0f172a;
    --card: #1e293b;
    --primary: #38bdf8;
    --foreground: #e5e7eb;
    --secondary: #334155;
    --accent: #10b981;
    --input: #1e293b;
    --border: #334155;
    --muted-foreground: #94a3b8;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
  h2 {
    @apply text-xl;
  }
  button {
    @apply cursor-pointer focus:outline-hidden focus:ring-0 focus-visible:ring-0 focus-visible:outline-hidden;
  }
  em {
    @apply text-xs text-red-500;
  }
}

@utility text-balance {
  text-wrap: balance;
}
@utility container {
  max-width: 1120px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(1rem, 1.5vw, 2rem);
}

.input {
  @apply h-10 w-full rounded-md border border-border bg-input px-3 py-2;
}

/* SKELETON */
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  background-image: linear-gradient(90deg, #fafafa, #d9d9d9, #fafafa);
  background-size: 200% 100%;
  -webkit-animation: skeleton-loading 1.8s linear infinite;
  animation: skeleton-loading 1.8s linear infinite;
}

/* END SKELETON */

/* LOADING */
.loader {
  position: relative;
  width: 64px;
  height: 60px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background: var(--primary);
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
/* END LOADING */

/* SCROLBAR */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) var(--accent); /* thumb and track */
}

/* For WebKit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 9999px;
}
/* END SCROLBAR */

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
}

/* AKTIF hanya saat theme toggle */
html[data-theme-transition="true"]::view-transition-new(root) {
  clip-path: circle(0% at var(--vt-x) var(--vt-y));
  animation: reveal 1000ms ease-in-out;
}

html[data-theme-transition="true"]::view-transition-old(root) {
  animation: hide 1000ms ease-in-out;
}

@keyframes reveal {
  to {
    clip-path: circle(150% at var(--vt-x) var(--vt-y));
  }
}

@keyframes hide {
  to {
    clip-path: circle(0% at var(--vt-x) var(--vt-y));
  }
}
